<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fake_lab.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Fake_lab.Properties.Settings>
            <setting name="Vol_acido" serializeAs="String">
                <value>2900</value>
            </setting>
            <setting name="Vol_coagulante" serializeAs="String">
                <value>3900</value>
            </setting>
            <setting name="Vol_composto" serializeAs="String">
                <value>7000</value>
            </setting>
            <setting name="Vol_talco" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="Fat_soda" serializeAs="String">
                <value>1.0751</value>
            </setting>
            <setting name="Fat_edta" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="Fat_hcl" serializeAs="String">
                <value>0.9756</value>
            </setting>
            <setting name="Con_hno3" serializeAs="String">
                <value>59</value>
            </setting>
            <setting name="Con_carbonato" serializeAs="String">
                <value>99.9</value>
            </setting>
            <setting name="Con_nitrato" serializeAs="String">
                <value>65.8</value>
            </setting>
        </Fake_lab.Properties.Settings>
    </userSettings>
</configuration>